<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" ></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">This is a simple sentiment analysis tool.</p>
	<hr class="my-4">
	<form action="result/" method="post" >
		{% csrf_token %}
		<div class="form-group">
			{{ url }}
		</div>
		<input type="submit" name="Analyse" class="btn btn-primary" />
	</form>
</div>
</body>
</html>